<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
  <title>SimpleCalendarAjaxExample</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
=======
<%# The "application" layout is the default layout. It extends "base"  %>
<%# to include things like header, footer, and alerts that are common  %>
<%# to most (but not all) views.                                       %>

<%= render("shared/navbar") %>

<div class="container">

  <%= render("shared/flash") %>
  <%= render("shared/page_header") %>

  <%= yield %>

  <%= render("shared/footer") %>

</div>

<% parent_layout "base" %>
>>>>>>> refs/remotes/origin/master
